* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #333;
    font-family: 'Roboto Slab', sans-serif;
}
/* "The-Garden-Journal" Logo */
.logo {
    color: #e2e2e2;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: #e2e2e2;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.nav-active {
    transform: translateX(0%);
}

body{
    background: #e3e9ff;
}

label {
    color: #000000;
    font-weight: bold;
    padding: 12px 12px 12px 0;
    display: inline-block;
}

label:after { content: ": " }

input[type=text], select, textarea{
    width: 50%;
    padding: 11px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

fieldset {
    margin-bottom:  30px;
    border: none;

}

legend {
    color: #000000;
    font-size: 2em;
    padding: 5px;
    margin-left: 170px;
}

form {
    position: relative;
    margin-left: 20px;
}

form div.left-column {
    position: absolute;
    width: 50%;
    left: 0;
}

input[type=text]:focus {
    background-color: #faf8d4;
    border-color: #000;
}

#datePlanted{
    width: 50%;
    padding: 11px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

form input, form label {
    float: left;
    clear: left;
}

#createAPlantSectionBtn {
    padding: 10px;
    border: none;
    background-color: #3F51B5;
    color: #fff;
    font-weight: 600;
    border-radius: 5px;
    width: 35%;
    cursor: pointer;
    margin-top: 270px;
    margin-left: 60px;
    display: block;

}

/*#removeAPlantSectionBtn{*/
/*    padding: 10px;*/
/*    border: none;*/
/*    background-color: #3F51B5;*/
/*    color: #fff;*/
/*    font-weight: 600;*/
/*    border-radius: 5px;*/
/*    width: 35%;*/
/*    cursor: pointer;*/
/*    display: block;*/
/*    float: right;*/

/*}*/

.header {
    color: #000000;
    font-size: 2em;
    text-align: right;
    margin-right: 320px;
    margin-top: -77px;

}

